DATABASE_URL=postgres://postgres:password@localhost:5432/lms_development
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=password
REDIS_URL=redis://localhost:6379/0
RAILS_MAX_THREADS=5
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_REGION=us-east-1
DEFAULT_EMAIL_FROM=noreply@lms.test
APP_HOST=http://localhost:3000